.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input label {
  font-weight: 700;
  margin-right: 1rem;
}

.input input {
  width: 3.25rem;
  font: inherit;
  padding-left: 0.5rem;
  background-color: #f8f5f2;
  border-radius: 0.5rem;
  border: 1px solid #f8f5f2;
}
